.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, minmax(0, 250px));
    justify-content: center;
  }
}

.singleList {
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
